[user]
    name = AbelAnaya
    email = abelanaya97@gmail.com
[alias]
    st = status
    lod = log --oneline --graph --decorate
    cp = cherry-pick
[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/.dotfiles/git/themes.gitconfig
[delta]
    features = calochortus-lyallii
    navigate = true
    line-numbers = true
    hyperlinks = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[pager]
    blame  = delta
    diff   = delta
    reflog = delta
    show   = delta
